<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aplicativo Mudamos de Assinaturas Eletrônicas</title>
  <meta name="description" content="Com o aplicativo Mudamos você pode assinar projetos de lei de iniciativa popular de forma eletrônica, tendo sua privacidade, autenticidade e transparência garantidas com a segurança da tecnologia blockchain.">
  <meta name="keywords" content="mudamos, assinatura eletrônica, assinatura digital, lei de iniciativa popular">

  <%= favicon_link_tag 'static/icon/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'static/icon//favicon-16x16.png', type: 'image/png' %>

  <meta name="twitter:title" content="Aplicativo Mudamos de Assinaturas Eletrônicas">
  <meta name="twitter:description" content="Com o aplicativo Mudamos você pode assinar projetos de lei de iniciativa popular de forma eletrônica, tendo sua privacidade, autenticidade e transparência garantidas com a segurança da tecnologia blockchain.">
  <meta name="twitter:image" content="<%= image_url('/static/logo.png') %>">  

  <meta property="og:title" content="Aplicativo Mudamos de Assinaturas Eletrônicas">
  <meta property="og:description" content="Com o aplicativo Mudamos você pode assinar projetos de lei de iniciativa popular de forma eletrônica, tendo sua privacidade, autenticidade e transparência garantidas com a segurança da tecnologia blockchain.">
  <meta property="og:image" content="<%= image_url('/static/logo.png') %>">

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", media: "all", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arvo:400,700", media: "all" %>
  <%= stylesheet_link_tag "static", media: "all" %>
</head>

<body class="<%= "#{controller_name} #{action_name}" %>">
	<div class="main">
		<div class="custom-container">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
  <%#= javascript_include_tag "static" %>
</body>
</html>
